.character__page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  /* display: flex;
  flex-direction: row; */
}

.character__bio {
  margin-left: 30px;
  display: inline-block;
}

.character__name {
  font-size: 2rem;
  display: inline-block;
}

.episodes__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.episodes__item {
  padding: 10px;
}
